h1,
h2 {
  font-family: Lato;
}

html {
  margin: 0;
  padding: 0;
}

/* CSS Grid */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
